<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ride Sharing Platform</title>
    <link rel = "stylesheet" href="static/css/home.css">
</head>
<body>
    
    <div class="Container">
    <h1>Welcome to Ride Sharing Platform</h1>
    <p>Find, share, or offer rides conveniently with safety and ease.</p>
    <div class="buttons">
        <a href="{{ url_for('login') }}" class="button">Login</a>
        <a href="{{ url_for('register') }}" class="button">Register</a>
    </div>
    </div>
</body>
</html>


